/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");

body {
  margin: 0;
  font-family: Open Sans;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  margin: 20px 0px;
}
/* Custom design below! */

.mid-section {
  width: 900px;
  margin: auto;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}