.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner-container {
  width: 900px;
  margin: auto;
}

.banner h1 {
  color: white;
  font-size: 32px;
  margin: 21.44px 0px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4)
}

.banner p {
  color: white;
  opacity: 0.7;
  font-size: 20px;
  margin: 20px 0px;
}
